    <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* Сброс отступов и внутреннего поля */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Общие стили для персонажей */
        img {
            max-width: 300px;
            width: 100%;
            height: auto;
            display: inline-block;
            margin-right: 20px;
        }

        /* Выравнивание контента влево */
        .container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;
        }

        /* Стили для карточек билдов */
        .character-build {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-right: 40px;
            margin-bottom: 40px;
            width: 500px;
        }

        /* Размещение иконок в одну линию с бойцом */
        .character-build img {
            max-width: 80px;
            display: inline-block;
            vertical-align: top;
            margin: 10px;
        }

        /* Отступы для заголовков */
        h1, h2, h3 {
            text-align: left;
            margin-bottom: 10px;
        }

        .builds-container {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }

        .build-section {
            margin-right: 20px;
        }

        .build-section h3 {
            margin-bottom: 10px;
        }

        /* Для маленьких изображений, как иконки пассивок, гаджетов и снаряжений */
        .small-image {
            width: 60px;
            height: 60px;
            margin: 5px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

<from action="/result" method="GET">
    <select name="brawler">
        <option value="Мортис">Мортис</option>
        <option value="Тара">Тара</option>
        <option value="Джин">Поко</option>
        <option value="Макс">Макс</option>
        <option value="Мистер пи">Мистер пи</option>
        <option value="Спраут">Спраут</option>
        <option value="Байрон">Байрон</option>
        <option value="Сквик">Сквик</option>
        <option value="Лу">Лу</option>
        <option value="Р-т">Р-т</option>
        <option value="Лили">Лили</option>
        <option value="Базз">Базз</option>
        <option value="Бастер">Бастер</option>
        <option value="Мелоди">Мелоди</option>
        <option value="Мико">Мико</option>
        <option value="Мо">Мо</option>
        <option value="Гавс">Гавс</option>
        <option value="Грей">Грей</option>
        <option value="Виллоу">Виллоу</option>
        <option value="Отис">Отис</option>
        <option value="Даг">Даг</option>
        <option value="Джанет">Джанет</option>
        <option value="Джу Джу">Джу джу</option>
        <option value="Ева">Ева</option>
        <option value="Кленси">Кленси</option>
        <option value="Фенг">Фенг</option>
        <option value="Чак">Чак</option>
        <option value="Чарли">Чарли</option>
    </select>
    <input type="submit" value="Send">
</from>

<h1>Мортис</h1>
<div class="container">
    <div class="character-build">
        <img src="mortis.webp" alt="Мортис">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="46.webp" alt="Жуткая жатва" class="small-image">
            <img src="4646.webp" alt="Лёгкая лопата" class="small-image">
            <img src="mort_myt.webp" alt="Гирс на ульту" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
        <img src="46.webp" alt="Жуткая жатва" class="small-image">
            <img src="4646.webp" alt="Лёгкая лопата" class="small-image">
            <img src="mort_myt.webp" alt="Гирс на ульту" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Тара</h1>
<div class="container">
    <div class="character-build">
        <img src="tara.webp" alt="Тара">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="47.webp" alt="Исцелающая тень" class="small-image">
            <img src="4747.webp" alt="Потусторонняя поддержка" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="47.webp" alt="Исцелающая тень" class="small-image">
            <img src="4747.webp" alt="Потусторонняя поддержка" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Джин</h1>
<div class="container">
    <div class="character-build">
        <img src="jin.webp" alt="Джин">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="48.webp" alt="Волшебный пендель" class="small-image">
            <img src="4848.webp" alt="Разбитая лампа" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="48.webp" alt="Волшебный пендель" class="small-image">
            <img src="4848.webp" alt="Разбитая лампа" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Макс</h1>
<div class="container">
    <div class="character-build">
        <img src="max.webp" alt="Макс">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="49.webp" alt="Суперзарядка" class="small-image">
            <img src="4949.webp" alt="Фазорегулятор" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="49.webp" alt="Суперзарядка" class="small-image">
            <img src="4949.webp" alt="Фазорегулятор" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Мистер пи</h1>
<div class="container">
    <div class="character-build">
        <img src="mp.webp" alt="Мистер пи">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="50.webp" alt="Турникет" class="small-image">
            <img src="5050.webp" alt="Звонок" class="small-image">
            <img src="petm.webp" alt="Гирс на ульту" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="50.webp" alt="Турникет" class="small-image">
            <img src="5050.webp" alt="Звонок" class="small-image">
            <img src="petm.webp" alt="Гирс на ульту" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Спраут</h1>
<div class="container">
    <div class="character-build">
        <img src="sprout.webp" alt="Спраут">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="51.webp" alt="Сверхрост" class="small-image">
            <img src="5151.webp" alt="Пересадка" class="small-image">
            <img src="zaryad_supera.webp" alt="Гирс на заряд ульты" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="52a.webp" alt="Сверхрост" class="small-image">
            <img src="5151.webp" alt="Пересадка" class="small-image">
            <img src="zaryad_supera.webp" alt="Гирс на заряд ульты" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
        </div>
    </div>
</div>

    <h1>Байрон</h1>
<div class="container">
    <div class="character-build">
        <img src="byron.webp" alt="Байрон">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="52.webp" alt="Лёгкое недомогание" class="small-image">
            <img src="5252.webp" alt="Ревакцинация" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="52.webp" alt="Лёгкое недомогание" class="small-image">
            <img src="5252.webp" alt="Ревакцинация" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>



    <h1>Сквик</h1>
<div class="container">
    <div class="character-build">
        <img src="sqwick.webp" alt="Сквик">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="53.webp" alt="Сверхлипкость" class="small-image">
            <img src="5353.webp" alt="Осадок" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="53.webp" alt="Сверхлипкость" class="small-image">
            <img src="5353.webp" alt="Осадок" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


    <h1>Лу</h1>
<div class="container">
    <div class="character-build">
        <img src="lu.webp" alt="Лу">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="54.webp" alt="Обморожение" class="small-image">
            <img src="5454.webp" alt="Криосироп" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="54.webp" alt="Обморожение" class="small-image">
            <img src="5454.webp" alt="Криосироп" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

    <h1>Р-т</h1>
<div class="container">
    <div class="character-build">
        <img src="r-t.webp" alt="Р-т">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="555.webp" alt="Подсчет в уме" class="small-image">
            <img src="5555.webp" alt="Взлом" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="555.webp" alt="Подсчет в уме" class="small-image">
            <img src="5555.webp" alt="Взлом" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

    <h1>Лили</h1>
<div class="container">
    <div class="character-build">
        <img src="lily.webp" alt="Лили">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="56.webp" alt="Колючка" class="small-image">
            <img src="5656.webp" alt="Исчезновение" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="56.webp" alt="Колючка" class="small-image">
            <img src="5656.webp" alt="Исчезновение" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

      <h1>Базз</h1>
<div class="container">
    <div class="character-build">
        <img src="bazz.webp" alt="Базз">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="57.webp" alt="Зоркий глаз" class="small-image">
            <img src="5757.webp" alt="Запасной поплавок" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="57.webp" alt="Зоркий глаз" class="small-image">
            <img src="57577.webp" alt="Рентгеновские очки" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


        <h1>Бастер</h1>
<div class="container">
    <div class="character-build">
        <img src="baster.webp" alt="Бастер">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="58.webp" alt="Кевларовый жилет" class="small-image">
            <img src="5858.webp" alt="Замедленный повтор" class="small-image">
            <img src="hil.png" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="58.webp" alt="Кевларовый жилет" class="small-image">
            <img src="5858.webp" alt="Замедленный повтор" class="small-image">
            <img src="hil.png" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


        <h1>Мелоди</h1>
<div class="container">
    <div class="character-build">
        <img src="melodie.webp" alt="Мелоди">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="59.webp" alt="Быстрый ритм" class="small-image">
            <img src="5959.webp" alt="Интерлюдия" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="59.webp" alt="Быстрый ритм" class="small-image">
            <img src="5959.webp" alt="Интерлюдия" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


    <h1>Мико</h1>
<div class="container">
    <div class="character-build">
        <img src="Miko.webp" alt="Мико">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="60.webp" alt="Плагиат" class="small-image">
            <img src="6060.webp" alt="Крик" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="60.webp" alt="Плагиат" class="small-image">
            <img src="6060.webp" alt="Крик" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

    <h1>Мо</h1>
<div class="container">
    <div class="character-build">
        <img src="Miko.webp" alt="Мико">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="61.webp" alt="Блинчики" class="small-image">
            <img src="6161.webp" alt="Чёрный копатель" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="61.webp" alt="Блинчики" class="small-image">
            <img src="6161.webp" alt="Чёрный копатель" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>



    <h1>Гавс</h1>
<div class="container">
    <div class="character-build">
        <img src="gavs.webp" alt="Гавс">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="62.webp" alt="Воздушное првеосходство" class="small-image">
            <img src="6262.webp" alt="В укрытие!" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="62.webp" alt="Воздушное превосходство" class="small-image">
            <img src="6262.webp" alt="В укрытие!" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>



    <h1>Грей</h1>
<div class="container">
    <div class="character-build">
        <img src="grey.webp" alt="Грей">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="63.webp" alt="Симуляция травмы" class="small-image">
            <img src="6363.webp" alt="Трость" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="63.webp" alt="Симуляция травмы" class="small-image">
            <img src="6363.webp" alt="Трость" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


    <h1>Виллоу</h1>
<div class="container">
    <div class="character-build">
        <img src="willoy.webp" alt="Виллоу">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="64.webp" alt="Любовь слепа" class="small-image">
            <img src="6464.webp" alt="Нырок" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="64.webp" alt="Любовь слепа" class="small-image">
            <img src="6464.webp" alt="Нырок" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


    <h1>Отис</h1>
<div class="container">
    <div class="character-build">
        <img src="Miko.webp" alt="Отис">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="65.webp" alt="Запасной картридж" class="small-image">
            <img src="6565.webp" alt="Большой хлюп" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="65.webp" alt="Запасной картридж" class="small-image">
            <img src="6565.webp" alt="Большой хлюп" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


    <h1>Даг</h1>
<div class="container">
    <div class="character-build">
        <img src="dag.webp" alt="Даг">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="666.webp" alt="Самообслуживание" class="small-image">
            <img src="6666.webp" alt="Добавка горчицы" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="666.webp" alt="Самообслуживание" class="small-image">
            <img src="6666.webp" alt="Добавка горчицы" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

    <h1>Джанет</h1>
<div class="container">
    <div class="character-build">
        <img src="janet.webp" alt="Джанет">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="67.webp" alt="Вокальная разминка" class="small-image">
            <img src="6767.webp" alt="Проход за кулисы" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="67.webp" alt="Вокальная разминка" class="small-image">
            <img src="6767.webp" alt="Проход за кулисы" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

        <h1>Джу джу</h1>
<div class="container">
    <div class="character-build">
        <img src="juju.webp" alt="Джу джу">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="68.webp" alt="Иглоукалывание" class="small-image">
            <img src="6868.webp" alt="Стихийная магия" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="68.webp" alt="Иглоукалывание" class="small-image">
            <img src="6868.webp" alt="Стихийная магия" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

        <h1>Ева</h1>
<div class="container">
    <div class="character-build">
        <img src="eva.webp" alt="Ева">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="69.webp" alt="Приятный сюрприз" class="small-image">
            <img src="6969.webp" alt="Пора валить!" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="69.webp" alt="Приятный сюрприз" class="small-image">
            <img src="6969.webp" alt="Пора валить!" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

    <h1>Кленси</h1>
<div class="container">
    <div class="character-build">
        <img src="clansy.webp" alt="Кленси">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="70.webp" alt="Разведка" class="small-image">
            <img src="7070.webp" alt="Тактическое отступление" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="70.webp" alt="Разведка" class="small-image">
            <img src="7070.webp" alt="Тактическое отступление" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

    <h1>Фенг</h1>
<div class="container">
    <div class="character-build">
        <img src="fang.webp" alt="Фенг">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="71.webp" alt="Свежий старт" class="small-image">
            <img src="7171.webp" alt="Удар с разворота" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="71.webp" alt="Свежий старт" class="small-image">
            <img src="7171.webp" alt="Удар с разворота" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

     <h1>Чак</h1>
<div class="container">
    <div class="character-build">
        <img src="chak.webp" alt="Чак">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="72.webp" alt="Пит-стоп" class="small-image">
            <img src="7272.webp" alt="Призрачный поезд" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="72.webp" alt="Пит-стоп" class="small-image">
            <img src="7272.webp" alt="Призрачный поезд" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>

         <h1>Чарли</h1>
<div class="container">
    <div class="character-build">
        <img src="charlie.webp" alt="Чарли">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="73.webp" alt="Пит-стоп" class="small-image">
            <img src="7373.webp" alt="Призрачный поезд" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
        <div class="build-section">
            <h2>Билд на кустовую карту</h2>
            <img src="73.webp" alt="Пит-стоп" class="small-image">
            <img src="7373.webp" alt="Призрачный поезд" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>







  <a href="index.html" style="display: block; text-align: center; margin-top: 20px;">Вернуться на главную</a>
</body>
</html>