<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редкие Персонажи Brawl Stars</title>
    <link rel="stylesheet" href="style.css">
    <style>
        /* Сброс отступов и внутреннего поля */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Общие стили для персонажей */
        img {
            max-width: 300px;
            width: 100%;
            height: auto;
            display: inline-block;
            margin-right: 20px;
        }

        /* Выравнивание контента влево */
        .container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;
        }

        /* Стили для карточек билдов */
        .character-build {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-right: 40px;
            margin-bottom: 40px;
            width: 500px;
        }

        /* Размещение иконок в одну линию с бойцом */
        .character-build img {
            max-width: 80px;
            display: inline-block;
            vertical-align: top;
            margin: 10px;
        }

        /* Отступы для заголовков */
        h1, h2, h3 {
            text-align: left;
            margin-bottom: 10px;
        }

        .builds-container {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .build-section {
            margin-right: 20px;
        }

        .build-section h3 {
            margin-bottom: 10px;
        }

        /* Для маленьких изображений, как иконки пассивок, гаджетов и снаряжений */
        .small-image {
            width: 60px;
            height: 60px;
            margin: 5px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

<from action="/result" method="GET">
    <select name="brawler">
        <option value="Джесси">Джесси</option>
        <option value="Диномайк">Диномайк</option>
        <option value="Тик">Тик</option>
        <option value="8-бит">8-бит</option>
        <option value="Рико">Рико</option>
        <option value="Дэррил">Дэррил</option>
        <option value="Пенни">Пенни</option>
        <option value="Карл">Карл</option>
        <option value="Гас">Гас</option>
        <option value="Джеки">Джеки</option>
    </select>
    <input type="submit" value="Send">
</from>

<h1>Джесси</h1>
<div class="container">
    <div class="character-build">
        <img src="Jessi.webp" alt="Джесси">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h3>Обычный билд</h3>
            <img src="10.webp" alt="Подзарядка" class="small-image">
            <img src="1010.webp" alt="Свеча зажигания" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="compan.png" alt="Гирс на турель" class="small-image">
        </div>
        <div class="build-section">
        <h3>Билд на кустовую карту</h3>
            <img src="10.webp" alt="Подзарядка" class="small-image">
            <img src="1010.webp" alt="Свеча зажигания" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
            <img src="compan.png" alt="Гирс на турель" class="small-image">
        </div>
    </div>
</div>


<h1>Диномайк</h1>
<div class="container">
    <div class="character-build">
        <img src="Dino.webp" alt="Диномайк">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="11.webp" alt="Демонтаж" class="small-image">
            <img src="1111.webp" alt="Тяжелый ранец" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="11.webp" alt="Демонтаж" class="small-image">
            <img src="1111.webp" alt="Тяжелый ранец" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
        </div>
    </div>
</div>


<h1>Тик</h1>
<div class="container">
    <div class="character-build">
        <img src="Tic.webp" alt="Тик">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="12.webp" alt="Как по маслу" class="small-image">
            <img src="1212.webp" alt="Последнее ура" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="tickm.png" alt="Гирс на хп голове тика" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="12.webp" alt="Как по маслу" class="small-image">
            <img src="1212.webp" alt="Последнее ура" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
            <img src="tickm.png" alt="Гирс на хп голове тика" class="small-image">
        </div>
    </div>
</div>


<h1>8-бит</h1>
<div class="container">
    <div class="character-build">
        <img src="Bit.webp" alt="8-бит">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="13.webp" alt="Проводное соединение" class="small-image">
            <img src="1313.webp" alt="Чит картридж" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="13.webp" alt="Проводное соединение" class="small-image">
            <img src="1313.webp" alt="Чит картридж" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

<h1>Рико</h1>
<div class="container">
    <div class="character-build">
        <img src="Rico.webp" alt="Рико">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="14.webp" alt="Суперотскок" class="small-image">
            <img src="1414.webp" alt="Шаромёт" class="small-image">
            <img src="Dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="reload.jpg" alt="Гирс на перезарядку" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="14.webp" alt="Суперотскок" class="small-image">
            <img src="1414.webp" alt="Шаромёт" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
            <img src="reload.jpg" alt="Гирс на перезарядку" class="small-image">
        </div>
    </div>
</div>


<h1>Дэррил</h1>
<div class="container">
    <div class="character-build">
        <img src="derril.webp" alt="Дэррил">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="15.webp" alt="Стальные обручи" class="small-image">
            <img src="1515.webp" alt="Бочка со смолой" class="small-image">
            <img src="hil.png" alt="Гирс на хил" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="15.webp" alt="Стальные обручи" class="small-image">
            <img src="1515.webp" alt="Бочка со смолой" class="small-image">
            <img src="hil.png" alt="Гирс на хил" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

<h1>Пенни</h1>
<div class="container">
    <div class="character-build">
        <img src="Penni.webp" alt="Пенни">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="16.webp" alt="Мегабластер" class="small-image">
            <img src="1616.webp" alt="Бочка соли" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="16.webp" alt="Мегабластер" class="small-image">
            <img src="1616.webp" alt="Бочка соли" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
    </div>
</div>

<h1>Карл</h1>
<div class="container">
    <div class="character-build">
        <img src="Carl.webp" alt="Карл">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="17.webp" alt="Защитный пируэт" class="small-image">
            <img src="1717.webp" alt="Летающий крюк" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="17.webp" alt="Защитный пируэт" class="small-image">
            <img src="1717.webp" alt="Летающий крюк" class="small-image">
            <img src="dop.webp" alt="Гирс на доп гаджет" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

<h1>Джеки</h1>
<div class="container">
    <div class="character-build">
        <img src="Jeki.webp" alt="Джеки">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="18.webp" alt="Контрдробилка" class="small-image">
            <img src="1818.webp" alt="Пневмоусилитель" class="small-image">
            <img src="hil.png" alt="Гирс на хил" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="18.webp" alt="Контрдробилка" class="small-image">
            <img src="1818.webp" alt="Пневмоусилитель" class="small-image">
            <img src="hil.png" alt="Гирс на хил" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

<h1>Гас</h1>
<div class="container">
    <div class="character-build">
        <img src="Gas.webp" alt="Гас">
        <div class="builds-container">
            <!-- Обычный билд -->
            <div class="build-section">
        <h2>Обычный билд</h2>
            <img src="19.webp" alt="Духовная связь" class="small-image">
            <img src="1919.webp" alt="Лопнувший шар" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="yron.webp" alt="Гирс на урон" class="small-image">
        </div>
        <div class="build-section">
        <h2>Билд на кустовую карту</h2>
            <img src="19.webp" alt="Духовная связь" class="small-image">
            <img src="1919.webp" alt="Лопнувший шар" class="small-image">
            <img src="shit.png" alt="Гирс на щит" class="small-image">
            <img src="speed.webp" alt="Гирс на скорость" class="small-image">
        </div>
    </div>
</div>

            <a href="index.html" style="display: block; text-align: center; margin-top: 20px;">Вернуться на главную</a>



</body>
</html>